@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    background-color: black;
    color: greenyellow;
}

div#time {
    font-family: 'Share Tech Mono', monospace;
    font-size: 10em;
}

div#date {
    font-family: 'Share Tech Mono', monospace;
    font-size: 5em;
}

div.static-text {
    font-family: 'Share Tech Mono', monospace;
    font-size: 5em;
}

div#debug {
    font-family: 'Share Tech Mono', monospace;
    font-size: 5em;
}

div#column-flex {
    display: flex;
    flex-direction: column;
}

div#row-flex {
    display: flex;
    flex: row;
}

div.flex-element {
    padding: 2em;
}

div#temperature {
    font-family: 'Share Tech Mono', monospace;
    font-size: 5em;
}

div#feels-like-temperature {
    font-family: 'Share Tech Mono', monospace;
    font-size: 5em;
}

div#weather-description {
    font-family: 'Share Tech Mono', monospace;
    font-size: 5em;
}