@font-face {
    font-family: 'Share Tech Mono';
    src: url('../webfonts/ShareTechMono-Regular.woff2') format('woff2'),
        url('../webfonts/ShareTechMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../webfonts/TitilliumWeb-Regular.woff2') format('woff2'),
        url('../webfonts/TitilliumWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Seven Segment';
    src: url('../webfonts/7segment.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0px;
    padding: 0px;
}

button {
    background-color: green;
    color: black;
    border: none;
}

button.nav-button {
    padding: 10pt;
    font-size: 22pt;
}

div#taskbar {
    margin-top: 10pt;
    position: fixed;
    bottom: 0;
}

body {
    background-color: black;
    color: green;
    font-size: 14pt;
    font-family: 'Titillium Web';
}

div.table-color-flip {
    background-color: green;
    color: black;
}

div.fat {
    padding: 10pt;
}

div.section-name {
    font-weight: bold;
    font-size: 16pt;
}

div.data-name {
    font-weight: bold;
}

div#home-location {
    font-weight: bold;
    font-size: 30pt;
}

div#time {
    font-family: 'Seven Segment';
    font-size: 80pt;
}

div#date {
    font-size: 26pt;
}

div#home-data {
    margin-top: 75pt;
}

div.underline {
    padding-bottom: 10pt;
    border-bottom: 2pt solid green;
}

div.time-border {
    border-left: 2pt solid green;
    padding-top: 50pt;
    padding-bottom: 50pt;
    padding-left: 20pt;
}

div.weather-icon {
    font-size: 30pt;
}

div.column-flex {
    display: flex;
    flex-direction: column;
}

div.row-flex {
    display: flex;
    flex: row;
}

div.column-flex > div.flex-element {
    margin-bottom: 10pt;
}

div.row-flex > div.flex-element {
    margin-right: 10pt;
}