@font-face {
    font-family: 'Share Tech Mono';
    src: url('../webfonts/ShareTechMono-Regular.woff2') format('woff2'),
        url('../webfonts/ShareTechMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../webfonts/TitilliumWeb-Regular.woff2') format('woff2'),
        url('../webfonts/TitilliumWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
    background-color: black;
    color: green;
    font-size: 14pt;
    font-family: 'Titillium Web';
}

.section-name {
    font-weight: bold;
    font-size: 16pt;
}

div#home-location {
    font-weight: bold;
    font-size: 18pt;
}

div#time {
    font-family: 'Share Tech Mono';
    font-size: 22pt;
}

div.weather-icon {
    font-size: 30pt;
}

div.column-flex {
    display: flex;
    flex-direction: column;
}

div.row-flex {
    display: flex;
    flex: row;
}

div.column-flex > div.flex-element {
    padding-bottom: 1em;
}

div.row-flex > div.flex-element {
    padding-right: 1em;
}