/* First simple defaults, template vars are underneath */

body {
    /* color: green; */
    /* background-color: black; */
    margin: 0;
    border: 0;
    /* font-family: 'Titillium Web', sans-serif; */
    font-size: 16pt;
    font-weight: 400;
    user-select: none;
    /* height: 100%; */
    /* width: 100%; */
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

div.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

div.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

div.flex-grow {
    flex-grow: 1;
}

div.flex-shrink {
    flex-shrink: 1;
}

div.background-video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: black;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}


div.home-screen {
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
}

div.login-screen {
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.border {
    padding: 1em;
    border-style: solid;
    /* border: 1px solid green; */
}

div.home-time-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}

div.home-time-small-wrapper {
    gap: 0;
}

div.time-mascot-small {
    justify-content: end;
}

div.home-date {
    font-size: 36pt;
    align-self: flex-end;
}

div.home-time {
    /* font-family: 'Seven Segment', monospace; */
    align-self: flex-end;
    font-size: 98pt;
}

div.home-action-center {
    flex-basis: 40%;
}

div.home-action-center-content {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

div.home-lhs-column {
    flex-basis: 45%;
}

div.home-rhs-column {
    flex-basis: 55%;
}

div.login-box {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
}

div.begin-login {
    align-items: center;
    justify-content: center;
}

div.system-error {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding: 1em;
    /* We include default colours in case of no theme load */
    font-family: "Titillium Web";
    font-size: 16pt;
    color: green;
}

div.switcher-widget-small {
    flex-grow: inherit;
}

div.switcher-widget-content-small {
    flex-grow: inherit;
}

div.switcher-widget-button-wrapper {
    justify-self: flex-end;
    align-items: flex-end;
    justify-content: space-between;
}

div.switcher-widget-button-wrapper-small {
    align-items: flex-end;
    gap: 2px;
}

div.current-weather {
    font-size: 18pt;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

div.current-weather-location {
    align-self: center;
    font-weight: bold;
}

div.current-weather-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.4em;
}

button:active {
    outline: 0;
}

button:focus {
    outline: 0;
}

button.action-button {
    /* border: 1px solid green; */
    /* background-color: black; */
    /* color: green; */
    border-style: solid;
    font-size: 18pt;
    transition: box-shadow 0.3s ease-in-out;
}

/* Apply the glow animation when button is active */
button.action-button:active {
    animation: button-glow 0.1s ease-in-out;
}

button.switcher-widget-button {
    transition: box-shadow 0.3s ease-in-out;
}

button.switcher-widget-button:active {
    animation: button-glow 0.1s ease-in-out;
}

/* Keyframes for button-glow animation */
@keyframes button-glow {
    0% {
        box-shadow: 0 0 1px green,
            0 0 2px green,
            0 0 4px green;
    }

    50% {
        box-shadow: 0 0 6px 2px green,
            0 0 8px 4px green,
            0 0 10px 6px green;
    }

    100% {
        box-shadow: 0 0 0 green;
    }
}

button.switcher-button {
    font-size: 16pt;
}

div#switcher-widget-content {
    overflow: hidden;
}

div.switcher-widget {
    height: 100%;
}

div.setup-wrapper {
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
}

div.setup-title {
    font-size: 22pt;
}

div.data-label {
    font-weight: 500;
}

div.astro {
    font-size: 16pt;
}

div.weather-data {
    font-size: 32pt;
}

div.current-weather-icon {
    font-size: 28pt;
}

div.forecast-weather-icon {
    font-size: 32pt;
}

table.forecast-weather-table th {
    font-weight: 500;
}

table.forecast-weather-table td {
    text-align: center;
}

table.forecast-weather-table td.weather-icon {
    font-size: 24pt;
}

button.forecast-control-button {
    /* border: 1px solid green; */
    /* background-color: black; */
    /* color: green; */
    border-style: solid;
    font-size: 16pt
}

div.forecast-control-label {
    font-size: 16pt;
}

div.forecast-day-controls {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

div.calendar-day-date {
    font-size: 20pt;
    font-weight: 500;
}

div.calendar-event-when {
    font-weight: 500;
}

div.calendar-day {
    font-size: 14pt;
}

div.event-calendar-day-controls {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

button.event-calendar-control-button {
    /* border: 1px solid green; */
    /* background-color: black; */
    /* color: green; */
    border-style: solid;
    font-size: 16pt
}

div.inverted-color,
span.inverted-color {
    /* color: black;
    background-color: green; */
}

div.fortune-message {
    font-size: 14pt;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: flex-end;
    flex-grow: inherit;
}

/* div.fortune-message-mascot-wrapper {} */

div.fortune-message-mascot-wrapper-small {
    margin-left: 0;
}

div.next-event-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: inherit;
    gap: 0.5em;
}

/* div.event-mascot-wrapper {
} */

#fortune-canvas {
    height: 120px;
}

#event-canvas {
    height: 80px;
}

div.next-event-time {
    font-size: 18pt;
}

div.next-event-shorttext {
    font-size: 16pt;
}

div.loading-grid {
    min-width: 3em;
    min-height: 3em;
    font-family: "Noto Sans JP";
    font-size: 16pt;
    display: grid;
    grid-template-rows: 0.1fr 0.1fr;
    grid-template-columns: 0.1fr 0.1fr;
    grid-gap: 0.1em;
    opacity: 1;
    animation: loading-fade 0.5s linear infinite;
    justify-self: center;
    align-self: center;
}

div.loading-line {
    font-family: "Noto Sans JP";
    justify-self: center;
    align-self: center;
    opacity: 1;
    animation: loading-fade 0.5s linear infinite;
}

@keyframes loading-fade {

    0%,
    100% {
        opacity: 1
    }

    50% {
        opacity: 0.7
    }
}

div.fade-in {
    opacity: 0;
    animation: fade-in 0.2s linear;
}

div.fade-out {
    opacity: 1;
    animation: fade-out 0.2s linear;
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fade-out {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

div.planner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

div.planner-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

div.planner-dow {
    font-weight: bold;
    text-align: center;
}

div.planner-date-cell {
    border-style: solid;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

div.planner-event-count {
    font-weight: bold;
}

div.planner-day-date {
    font-weight: bold;
}

div.planner-event-time {
    font-weight: bold;
}
span.planner-event-summary-time {
    font-weight: bold;
}

div.status-note-small {
    margin-left: auto;
}

/********************************************* Template vars follow ********************************/

body {
    color: {{.ForegroundColor}} !important;
    background-color: {{.BackgroundColor}} !important;
    font-family: {{.MainFont}} !important;
    font-size: {{.BodyFontSize}} !important;
}

button {
    font-family: {{.MainFont}} !important;
}

div.home-time {
    font-family: {{.TimeFont}} !important;
    color: {{.TimeColor}} !important;
    font-size: {{.TimeFontSize}} !important;
}

.exposed {
    color: {{.TimeColor}} !important;
}

div.home-date {
    color: {{.TimeColor}} !important;
    font-size: {{.DateFontSize}} !important;
}

div.home-box {
    background-color: {{.BoxBackgroundColor}} !important;
}

div.border {
    border-radius: {{.BoxBorderRadius}} !important;
    border-width: {{.BoxBorderWidth}} !important;
    border-color: {{.BoxBorderColor}} !important;
}

button.action-button {
    border-radius: {{.ButtonBorderRadius}} !important;
    border-width: {{.ButtonBorderWidth}} !important;
    border-color: {{.ButtonBorderColor}} !important;
    background-color: {{.ButtonBackgroundColor}} !important;
    color: {{.ButtonForegroundColor}} !important;
}

button.forecast-control-button {
    border-radius: {{.ButtonBorderRadius}} !important;
    border-width: {{.ButtonBorderWidth}} !important;
    border-color: {{.ButtonBorderColor}} !important;
    background-color: {{.ButtonBackgroundColor}} !important;
    color: {{.ButtonForegroundColor}} !important;
}

button.event-calendar-control-button {
    border-radius: {{.ButtonBorderRadius}} !important;
    border-width: {{.ButtonBorderWidth}} !important;
    border-color: {{.ButtonBorderColor}} !important;
    background-color: {{.ButtonBackgroundColor}} !important;
    color: {{.ButtonForegroundColor}} !important;
}

div.inverted-color, span.inverted-color {
    color: {{.BoxBackgroundColor}} !important;
    background-color: {{.ForegroundColor}} !important;
}

div#theme-detection-canary {
    color: rgb(255, 0, 0);
}

div.current-weather {
    font-size: {{.CurrentWeatherFontSize}} !important;
}

button.action-button {
    font-size: {{.ActionButtonFontSize}} !important;
}

button.switcher-button {
    font-size: {{.SwitcherButtonFontSize}} !important;
}

div.astro {
    font-size: {{.AstroFontSize}} !important;
}

div.weather-data {
    font-size: {{.WeatherDataFontSize}} !important;
}

div.current-weather-icon {
    font-size: {{.CurrentWeatherIconFontSize}} !important;
}

div.forecast-weather-icon {
    font-size: {{.ForecastIconFontSize}} !important;
}

table.forecast-weather-table td.weather-icon {
    font-size: {{.ForecastWeatherTableIconFontSize}} !important;
}

button.forecast-control-button {
    font-size: {{.ForecastControlButtonFontSize}} !important;
}

div.forecast-control-label {
    font-size: {{.ForecastControlLabelFontSize}} !important;
}

div.calendar-day-date {
    font-size: {{.CalendarDayDateFontSize}} !important;
}

div.calendar-day {
    font-size: {{.CalendarDayFontSize}} !important;
}

button.event-calendar-control-button {
    font-size: {{.EventCalendarControlButtonFontSize}} !important;
}

div.fortune-message {
    font-size: {{.FortuneMessageFontSize}} !important;
}

div.next-event-time {
    font-size: {{.NextEventTimeFontSize}} !important;
}

div.next-event-shorttext {
    font-size: {{.NextEventTextFontSize}} !important;
}

div.loading-grid {
    font-size: {{.LoadingGridFontSize}} !important;
}

div#switcher-widget {
    position: absolute !important;
    left: {{.WidgetSwitcherX}} !important;
    top: {{.WidgetSwitcherY}} !important;
    width: {{.WidgetSwitcherWidth}} !important;
    height: {{.WidgetSwitcherHeight}} !important;
    overflow: hidden !important;
}

div#date-time {
    position: absolute !important;
    left: {{.DateTimeX}} !important;
    top: {{.DateTimeY}} !important;
    width: {{.DateTimeWidth}} !important;
    height: {{.DateTimeHeight}} !important;
    overflow: hidden !important;
}

div#action-center {
    position: absolute !important;
    left: {{.ActionCenterX}} !important;
    top: {{.ActionCenterY}} !important;
    width: {{.ActionCenterWidth}} !important;
    height: {{.ActionCenterHeight}} !important;
    overflow: hidden !important;
}

div#planner {
    position: absolute !important;
    left: {{.PlannerX}} !important;
    top: {{.PlannerY}} !important;
    width: {{.PlannerWidth}} !important;
    height: {{.PlannerHeight}} !important;
    overflow: hidden !important;
}

div.planner-date-cell {
    border-radius: {{.BoxBorderRadius}};
    border-width: {{.BoxBorderWidth}};
    border-color: {{.BoxBorderColor}};
    color: {{.ForegroundColor}};
    width: {{.PlannerDateCellWidth}} !important;
    height: {{.PlannerDateCellHeight}} !important;
}

div.planner-date-cell-events {
    font-size: {{.PlannerDateCellFontSize}};
}

div.planner-event-count {
    background-color: {{.ForegroundColor}};
    color: {{.BoxBackgroundColor}};
}

div.status-note-indicator {
    font-size: {{.StatusNoteFontSize}} !important;
}

button:disabled {
    color: {{.DisabledButtonForegroundColor}};
    border-color: {{.DisabledButtonBorderColor}};
    background-color: {{.DisabledButtonBackgroundColor}};
}

.is-error {
    color: {{.ErrorColor}} !important;
}