body {
    color: {{.ForegroundColor}};
    background-color: {{.BackgroundColor}};
    font-family: {{.MainFont}};
}

div.home-time {
    font-family: {{.TimeFont}};
    color: {{.TimeColor}};
}

div.home-date {
    color: {{.TimeColor}};
}

div.home-box {
    background-color: {{.BoxBackgroundColor}};
    opacity: {{.BoxOpacity}};
}

div.border {
    border-radius: {{.BoxBorderRadius}};
    border-width: {{.BoxBorderWidth}};
    border-color: {{.BoxBorderColor}};
}

button.action-button {
    border-radius: {{.ButtonBorderRadius}};
    border-width: {{.ButtonBorderWidth}};
    border-color: {{.ButtonBorderColor}};
    background-color: {{.ButtonBackgroundColor}};
    color: {{.ButtonForegroundColor}};
}

button.forecast-control-button {
    border-radius: {{.ButtonBorderRadius}};
    border-width: {{.ButtonBorderWidth}};
    border-color: {{.ButtonBorderColor}};
    background-color: {{.ButtonBackgroundColor}};
    color: {{.ButtonForegroundColor}};
}

button.event-calendar-control-button {
    border-radius: {{.ButtonBorderRadius}};
    border-width: {{.ButtonBorderWidth}};
    border-color: {{.ButtonBorderColor}};
    background-color: {{.ButtonBackgroundColor}};
    color: {{.ButtonForegroundColor}};
}

div.inverted-color, span.inverted-color {
    color: {{.BoxBackgroundColor}};
    background-color: {{.ForegroundColor}};
}