body {
    color: {{.ForegroundColor}};
    background-color: {{.BackgroundColor}};
    font-family: {{.MainFont}};
}

div.home-time {
    font-family: {{.TimeFont}};
}

div.home-box {
    background-color: {{.BoxBackgroundColor}};
}

div.border {
    border-radius: {{.BoxBorderRadius}};
    border-width: {{.BoxBorderWidth}};
    border-color: {{.ForegroundColor}};
}

button.action-button {
    border-radius: {{.BoxBorderRadius}};
    border-width: {{.BoxBorderWidth}};
    border-color: {{.ForegroundColor}};
    background-color: {{.ButtonBackgroundColor}};
    color: {{.ForegroundColor}};
}

button.forecast-control-button {
    border-radius: {{.BoxBorderRadius}};
    border-width: {{.BoxBorderWidth}};
    border-color: {{.ForegroundColor}};
    background-color: {{.ButtonBackgroundColor}};
    color: {{.ForegroundColor}};
}

button.event-calendar-control-button {
    border-radius: {{.BoxBorderRadius}};
    border-width: {{.BoxBorderWidth}};
    border-color: {{.ForegroundColor}};
    background-color: {{.ButtonBackgroundColor}};
    color: {{.ForegroundColor}};
}

div.inverted-color, span.inverted-color {
    color: {{.BoxBackgroundColor}};
    background-color: {{.ForegroundColor}};
}